* {
   
  
  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url(rick-and-morty-rick-3840x2160-9368.jpg);
    background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#nav-bar {
    
    color: white;
    text-align: center;
    padding: 10px;
}

#data-output {
    border-collapse: collapse;
    width: 100%;
}

#data-output img {
    width: 100%;
    border-radius: 5px;
}

#data-output ul {
    background-color: black;
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 10px;
    margin: 15px;
    
    border-radius: 15px;
    width: 200px;
    text-align: center;
}

#data-output li {
    margin: 10px;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;

}

.main-content ul:hover {
    transform: scale(1.10);
    animation: fire-animation 0.8s infinite alternate ease-in-out;

}


