body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


header {
    background-color: #f1c40f; 
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #333;
}


section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}


#Destinos div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

#Destinos div div {
    background-color: #fff9e6; /* Amarelo claro */
    padding: 20px;
    border: 2px solid #f1c40f;
    border-radius: 8px;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#Destinos div div:hover {
    transform: scale(1.05);
}

#Destinos img {
    width: 100%;
    border-radius: 8px;
}

#Destinos h3 {
    margin-top: 15px;
    color: #333;
}

#Destinos p {
    color: #666;
}

#promocao div {
    background-color: #f39c12; 
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

#promocao div:hover {
    background-color: #e67e22; 
}

#promocao h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#promocao p {
    font-size: 1.2em;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
